@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');
// ================================
// MIXIN DE FONTS
// ================================
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lato', sans-serif;

@mixin f-title {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.2;
    color: $secundary-color;
}

@mixin f-description {
    font-family: $font-secondary;
    color: $primary-color;
    font-weight: 400;
    line-height: 1;
}

// ================================
// VARIÁVEIS COLORS
// ================================
$primary-color:   #3483fa;
$secundary-color: #4a4a4a;

$color-gray-c: #e6e6e6;

$bg-light:  #fff;
$bg-light-c:#f2f2f2;
$bg-dark:   #121214;


body {
    background: $bg-light-c;
}